<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hospitals</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/adminUsers.css">
    <style>
        aside li:nth-child(4) a{
            color: var(--text);
            background: var(--grey);
            font-weight: bold;
            border-left: 5px solid var(--text);
        }
    </style>
</head>
<body>

    <% if(errorMsg.length>0){ %>
        <div class="toaster danger">
            <i class="fa fa-exclamation-circle"></i>
            <i class="fa fa-times" onclick="this.parentElement.style.display='none'"></i>
            <h5>Failure</h5>
            <p><%= errorMsg %></p>
        </div>
    <% } %>

    <% if(successMsg.length>0){ %>
        <div class="toaster success">
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-times" onclick="this.parentElement.style.display='none'"></i>
            <h5>Success</h5>
            <p><%= successMsg %></p>
        </div>
    <% } %>

<%- include("../templetes/header") %>

<main>
<div class="container">
    <%- include("../templetes/asideProfileDashboard_admin") %>
    <section>
        <h1>All Hospitals</h1>
        <div id="card-container">
            <% var hosArr = [] %>
            <% for(i=0;i<hospitals.length;i++){ %>
            <% hosArr.push(hospitals[i].name) %>
            <div class="card">
                <i class="fa fa-edit options-icon fill" onclick="window.location.href='/editHospital?hospitalId=<%= hospitals[i]._id %>'"></i>
                <figure>
                    <img src="../uploads/<%= hospitals[i].picture? hospitals[i].picture: 'default-hospital.png' %>" alt="hospital">
                </figure>
                <div class="details">
                    <h4><%= hospitals[i].name %></h4>
                    <ul>
                        <li><i class="fa fa-stethoscope"></i><span><%= hospitals[i].specialities.length? hospitals[i].specialities: 'Not available' %></span></li>
                        <li><i class="fa fa-bed"></i><span><%= hospitals[i].nBeds? hospitals[i].nBeds: 'Not available' %></span></li>
                        <li><i class="fa fa-map-marker-alt"></i><span><%= hospitals[i].address? hospitals[i].address: 'Not available' %></span></li>
                        <li><i class="fa fa-stethoscope"></i><span><%= hospitals[i].treatments.length? hospitals[i].treatments: 'Not available' %></span></li>
                    </ul>
                </div>
            </div>
            <% } %>
            <% for(i=0;i<doctors.length;i++){ %>
            <% for(j=0;j<doctors[i].hospitals.length;j++){ %>
            <% if(!hosArr.includes(doctors[i].hospitals[j])){ %>
            <% hosArr.push(doctors[i].hospitals[j]) %>
            <div class="card">
                <i class="fa fa-edit options-icon fill" onclick="window.location.href='/editHospital?hospitalName=<%= doctors[i].hospitals[j] %>'"></i>
                <figure>
                    <img src="../uploads/default-hospital.png" alt="hospital">
                </figure>
                <div class="details">
                    <h4><%= doctors[i].hospitals[j] %></h4>
                    <ul>
                        <li><i class="fa fa-stethoscope"></i><span>Not available</span></li>
                        <li><i class="fa fa-bed"></i><span>Not available</span></li>
                        <li><i class="fa fa-map-marker-alt"></i><span>Not available</span></li>
                        <li><i class="fa fa-stethoscope"></i><span>Not available</span></li>
                    </ul>
                </div>
            </div>
            <% }}} %>
        </div>
    </section>
</div>
</main>

<script src="../templetes/js/header.js"></script>

</body>
</html>